footer {
    background: #28282B;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 1px;
    border-top: 10px solid rgb(115, 115, 115);
}

.navigate {
    padding-top: 15px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1px;
    margin: 0;
}

.link {
    font-weight: none;
    color: #fff;
    text-decoration: none;
    padding: 1px;
    transition: 0.3s;
    font-size: 15px;
}

.copyright {
	padding-bottom: 15px;
    font-size: 15px;
}
